@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/PretendardVariable.woff2') format('woff2-variations');
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PyeongChang Peace';
  src: url('/fonts/PyeongChangPeace-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PyeongChang Peace';
  src: url('/fonts/PyeongChangPeace-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: 'Pretendard', sans-serif;
}

.font-pyeongchang {
  font-family: 'PyeongChang Peace', sans-serif;
}